/***************
RESET
***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/******************************************
 * STILI PER LA CARD
******************************************/
.card-js {
    width: 350px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    overflow-y: auto;
    font-size: 1.5rem;
    background-color: #eee8e8;
    padding: 1rem 0.5rem;
}

.card-studente {
    font-size: 15px;
    width: 80%;
    height: 50%;
    background-color: rgb(57, 136, 176);
    border-radius: 20px;
    margin-top: 10px;
    padding: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/******************************************
 * GENERAL STYLES
******************************************/
main {
    min-height: 100vh;
    background-color: #e0e0e0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 5rem;
}

#container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 5rem;
}

.input-container {
    margin: 10px 0;
}

ul {
    list-style: none;
    margin: 0.5rem 0;
}

li {
    margin-left: 20px;
}

.filter-student-container {
    font-size: 15px;
    margin: 0.5rem 0;
}

hr {
    margin: 10px 0;
}